.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth-salesforcer

renv.lock
renv/

# private 
data/*
foto/*
zzz_extra/*

.vscode/
 
 
# Output files from R CMD build
/*/*.log
/*/*.aux
/*/*.out
/*/*.tex
*.log
*.aux
*.out
*.tex


# Generated outputs in root 
*.html
# --- NOT THIS THOUGH!!!!
!README.HTML 
!README.html 
